<div
  class="flex justify-center items-center"
  *ngIf="
    firstPlayerIndex$ | async as firstPlayerIndex;
    else determineFirstPlayer
  "
>
  <app-status-message [firstPlayerIndex]="firstPlayerIndex"> </app-status-message>
</div>
<ng-template #determineFirstPlayer>
  <div class="relative bg-orange-200 w-1/2 grid grid-cols-2 gap-6 p-5 mx-auto">
    <div *ngFor="let player of players; let i = index">
      <app-player
        [player]="player"
        [isCurrentPlayer]="(currentPlayerIndex$ | async) === i"
      >
      </app-player>
    </div>
    <div
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 shadow-md bg-white cursor-pointer select-none rounded"
    >
      <div
        (click)="currentPlayerRollDice()"
        class="flex justify-center items-center w-20 h-20"
      >
        {{ latestDiceRoll$ | async }}
      </div>
    </div>
  </div>
</ng-template>
