<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div
  class="flex items-center justify-center"
  *ngIf="
    firstPlayerIndex$ | async as firstPlayerIndex;
    else determineFirstPlayer
  "
>
  <app-alert-message
    [title]="'First player determined!'"
    [icon]="'check-circle'"
    [message]="'The player who may start the game is ' + firstPlayerIndex"
    [buttonText]="'Start the game!'"
    (buttonClick)="onAlertButtonClick()"
  >
  </app-alert-message>
</div>
<ng-template #determineFirstPlayer>
  <div class="relative mx-auto grid w-1/2 grid-cols-2 gap-6 bg-orange-200 p-5">
    <div *ngFor="let player of players; let i = index">
      <app-player
        [player]="player"
        [isCurrentPlayer]="(currentPlayerIndex$ | async) === i"
      >
      </app-player>
    </div>
    <div
      class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 cursor-pointer select-none rounded bg-white shadow-md"
    >
      <div
        (click)="currentPlayerRollDice()"
        class="flex h-20 w-20 items-center justify-center"
      >
        {{ latestDiceRoll$ | async }}
      </div>
    </div>
  </div>
</ng-template>
