{
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "pluginSearchDirs": false,
  "trailingComma": "none",
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.html"],
      "options": { "parsers": ["angular"] }
    }
  ]
}
